{% load static %}
<!doctype  html>
<html  lang="en">
<head>
{% block head %}
{% endblock %}
{% block bootstrap %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
<title>{% block title %}Ticket Management App{% endblock %}</title>
</head>
<body class="text-center">
      {% block main %}
      {% endblock %}
      {% block footer %}
      {% endblock %}
</body>

</html>
