{% extends 'base.html' %}
{% load static %}

{% block title %}Company Tickets{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block main %}
{% if user.is_authenticated %}
<meta http-equiv="REFRESH" content="0;url=/home">
{% else %}
<header id="header">
  <div class="inner">
    <a href="" class="logo"><strong>Tickets</strong> by Company</a>
  </div>
</header>

<section id="banner">
  <div class="inner">
    <header>
      <img src="{% static 'img/logo.png' %}" style="margin-bottom: 32px;" class="logo" alt="company logo">
      <h1>{{ date }}</h1>
    </header>

    <div class="flex ">

      <div>
        <a href="{% url 'login' %}">
        <img src="{% static 'img/login.png' %}" height="80" class="logo" alt="company logo">
        <h3>NORMAL LOGIN</h3>
        </a>
      </div>

      <div>
        <a href="{% url 'login' %}">
        <img src="{% static 'img/card.png' %}" height="80" class="logo" alt="company logo">
        <h3>CARD LOGIN</h3>
        </a>
      </div>

    </div>
  </div>
</section>
{% endif %}
{% endblock %}
